#contenedor{
    display: grid;
    background-color: lightblue;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 150px 150px 150px;    
    
}
header{
    grid-column: 1 / span 3;
}
main{
    grid-column: 1 / span 3;
}

h1{
    background-color: tomato;
    text-align: center;
}
h2{
    font-family: verdana;
    font-size: 20px;
}
#img1{
    padding-left: 0;
    grid-column: 1;
    width: 150px;
    height: 150px;
}
#img2{
    padding-right: 0;
    grid-column: 3;
    width: 150px;
    height: 150px;
}