.cabeza{
    display: flex;
    width: 100%; height:auto;
    background-color: burlywood;
    
}

.cabezas{
    width: 50%; height:auto; 
}
img{
    width: 15%;    
}

.titulo{
    width: 100%;height: auto;
    color:red;
    text-align: center;
}

.cont{
    display: flex;
    width: 100%; height:auto;
}

.contenido{
    width: 50%;height: 300px;    
    color:blue  ;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 10px;
    justify-content: center;
    
}

footer{   
    display: flex;
    justify-content: center;
    width: 100%; height: 50px;
    text-align: center;
    background-color: burlywood;
    color: coral;
    text-decoration: crimson;
    text-shadow: darkmagenta;
}